# OS
.DS_Store

# Python
*.pyc
*.pyo
.ropeproject/

#static dirs
static
media

# Front side
content/components
node_modules
.sass-cache
media
bower_components
content/img/icons-*
resources

# Frontend ignore section
node_modules
content/.sass-cache
content/components

db.sqlite3

.env