a
	color: white

body
	background: white

button,
input[type="submit"],
.button
	background: $color_naranja
	border: none
	border-radius: 2px
	color: white
	padding: 0.5em 1em
	text-decoration: none
	text-transform: uppercase

h2.sawtooth
	text-transform: uppercase

span.color
	color: $color_azul