footer
	background: $fondo_gris
	color: white

section
	background: white
	padding: 1em

	&.countdown
		background: $fondo_gris
		color: white

	&.headline,
	&.wannabesponsor
		position: relative

		&:after
			background-size: 10px 12px, 10px 10px !important
			bottom: -20px
			content: ''
			display: block
			height: 30px
			left: 0
			position: absolute
			width: 100%

	&.headline
		background: url($headline_bckgnd) center calc(100% + 40px) no-repeat
		padding-bottom: 220px
		
		h1,
		p
			margin: 0 auto
			text-align: center

		h1
			margin-bottom: 0.5em
			width: 65%

		p
			width: 45%

		&:after
			+sawtooth(white)

	&.speakers,
	&.wannabesponsor
		background: $fondo_azul
		color: white

	&.speakers
		text-align: center

	&.wannabesponsor
		&:after
			+sawtooth($fondo_azul)