=sawtooth($color)
    background: linear-gradient(-45deg, transparent 75%, $color 75%) 0 50%, linear-gradient( 45deg, transparent 75%, $color 75%) 0 50%
    //background: -moz-linear-gradient(135deg, transparent 75%, $color 75%) 0 50%, -moz-linear-gradient( 45deg, transparent 75%, $color 75%) 0 50%
    background: -webkit-linear-gradient(135deg, transparent 75%, $color 75%) 0 50%, -webkit-linear-gradient( 45deg, transparent 75%, $color 75%) 0 50%
    background-repeat: repeat-x