//Colors
$color_azul: #33A7B0
$color_naranja: #de4b39
$fondo_azul: $color_azul
$fondo_gris: #393939

//Images
$headline_bckgnd: "../img/home.svg"
$zigzag_blue: "../img/zigzag-blue.svg"
$zigzag_white: "../img/zigzag-white.svg"

//Sizes
$speaker_img_size: 150px