<section class="countdown">
	<div class="counter">
		<p><strong>Quedan <span class="number">36</span> días para el Wud<span class="color">Co 2014</span></strong></p>
	</div>
	<div class="contact">
		<form action="">
			<label for="email">¿Quieres estar al tanto?</label>
			<input id="email" name="email" type="email" placeholder="Escribe tu correo electrónico" />
			<button type="submit">Enviar</button>
		</form>
	</div>
</section>