<footer>
	<div class="container">
		<div class="organizer">
			<div class="sub">Organiza</div>
			<div class="sub-content">
				<a href="http://usarte.co"><img src="img/logo_usarte.png" alt="usarte.co"></a>
			</div>
		</div>
		<div class="actions">
			<ul>
				<li><a href="#">Quiero ser voluntario</a></li>
				<li><a href="#">Quiero ser patrocinador</a></li>
			</ul>
		</div>
		<div class="follow-us">
			<div class="sub">Síguenos</div>
			<div class="sub-content">
				<a class="social-network twitter" href="#"></a>
				<a class="social-network facebook" href="#"></a>
				<a class="social-network youtube" href="#"></a>
			</div>
		</div>
	</div>
</footer>