<footer>
	<div class="organizer">
		<div class="sub">Organiza</div>
		<div class="sub-content">
			<a href="http://usarte.co"><img src="img/logo_usarte.png" alt="usarte.co"></a>
		</div>
	</div>
	<div class="actions">
		<ul>
			<li><a href="#">Quiero ser voluntario</a></li>
			<li><a href="#">Quiero ser patrocinador</a></li>
		</ul>
	</div>
	<div class="follow-us">
		<div class="sub">Síguenos</div>
		<div class="sub-content">
			<a class="social-network" href="#"><img src="img/twitter_blanco.svg" alt="Síguenos en Twitter"></a>
			<a class="social-network" href="#"><img src="img/facebook_blanco.svg" alt="Síguenos en facebook"></a>
			<a class="social-network" href="#"><img src="img/youtube_blanco.svg" alt=""></a>
		</div>
	</div>
</footer>