<section class="headline">
	<h1><span>WUDco 2014:</span> Planificación, ejecución y evaluación de la experiencia de usuario en un projecto digital</h1>
	<p>Profesionales del mundo entero se reúnen para celebrar el Día Mundial de la Usabilidad</p>
</section>