<header>
	<figure class="wud-logo">
		<img src="img/logo_wudCo.svg" alt="World Usability Day" />
	</figure>
	<div class="header">
		<p>Día mundial de la usabilidad 2014</p>
		<p>Bogotá Colombia</p>
		<p>Universidad Nacional</p>
	</div>
	<div class="date">
		<p><span class="day">7</span> de <strong>noviembre</strong> de 2014</p>
	</div>
</header>