<header>
	<div class="container">
		<figure class="wud-logo">
			<a href="#"><img src="img/logo_WudCo.svg" alt="World Usability Day" /></a>
		</figure>
		<div class="header">
			<p><strong>Día mundial de la usabilidad 2014</strong></p>
			<p><span class="color">Bogotá Colombia</span></p>
			<p>Universidad Nacional</p>
		</div>
		<div class="date">
			<p><span class="day">7</span> de <strong>noviembre</strong> de 2014</p>
		</div>
	</div>
</header>