<section class="speeches">
	<h2 class="sawtooth blue"><span>Charlas preliminares gratuitas</span></h2>
	<ul>
		<%- partial("_speech",{
				month: 'Ago',
				day: '20',
				title: 'Errores y aciertos en el proceso de construcción de un sitio web.',
				speaker: 'Jorge Arango',
				link: '#'
			})
		%>
		<%- partial("_speech",{
				month: 'Sep',
				day: '10',
				title: 'Fundamentos de Lean UX.',
				speaker: 'Lorena Escandón',
				link: '#'
			})
		%>
		<%- partial("_speech",{
				month: 'Oct',
				day: '26',
				title: 'Usabilidad en aplicaciones videojuegos.',
				speaker: 'Valerio Alessio',
				link: '#'
			})
		%>
	</ul>
</section>