<section class="sponsors">
	<h2 class="sawtooth blue"><span>Nos apoyan</span></h2>
	<ul>
		<%- partial("_sponsor", {
				link: '#',
				name: 'Rosenfeld',
				logo: 'img/logo_rosenfeld.png'
			})
		%>
		<%- partial("_sponsor", {
				link: '#',
				name: 'Astrolabio',
				logo: 'img/logo_astrolabio.jpg'
			})
		%>
		<%- partial("_sponsor", {
				link: '#',
				name: 'Zemoga',
				logo: 'img/logo_zemoga.png'
			})
		%>
	</ul>
</section>