<section class="wannabesponsor">
	<div class="container">
		<h2>¿Quieres ser patrocinador?</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident minima quasi qui itaque veritatis rem dolores, sed cum. Quod iure soluta quidem tempora ab est ex velit. Saepe, quasi! Commodi.</p>
		<a href="#" class="button">Patrocina</a>
	</div>
</section>