{% load staticfiles copy %}
<footer>
    <div class="container">
        <div class="organizer">
            <div class="sub">{% copy 'organizes' default='Organiza' %}</div>
            <div class="sub-content">
                <a href="http://usarte.co" target="_blank"><img src="{% static 'img/logo_usarte_blanco.png' %}" alt="usarte.co"></a>
            </div>
        </div>
        <div class="actions">
            <ul>
                <li>{% if not request.GET.edit_copys%}<a href="{% url 'volunteer' %}">{% else %}{% copy 'link-volunteer' %} {% endif %}{% copy 'wants-volunteer' default='Quiero ser voluntario' %}</a></li>
                <li>{% if not request.GET.edit_copys%}<a href="{% url 'sponsor_form' %}">{% else %}{% copy 'link-sponsor' %} {% endif %}{% copy 'wants-sponsor' default='Quiero ser patrocinador' %}</a></li>
            </ul>
        </div>
        <div class="follow-us">
            <div class="sub">Síguenos</div>
            <div class="sub-content">
                {% if not request.GET.edit_copys%}<a href="{% copy 'twitter-url' %}" target="_blank" class="social-network" ><i class="icon-twitter"></i></a>{% else %}{% copy 'twitter-url' %} {% endif %}
                {% if not request.GET.edit_copys%}<a href="{% copy 'facebook-url' %}" target="_blank" class="social-network" ><i class="icon-facebook"></i></a>{% else %}{% copy 'facebook-url' %} {% endif %}
                {% if not request.GET.edit_copys%}<a href="{% copy 'youtube-url' %}" target="_blank" class="social-network"><i class="icon-youtube"></i></a>{% else %}{% copy 'youtube-url' %} {% endif %}
            </div>
        </div>
    </div>
</footer>
