{% load staticfiles copy %}
<!DOCTYPE html>
<html lang="es">

{% block head %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}} WUDCO 2014</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
{% endblock %}

<body>
  <header>

    {% block header %}
    <div class="container">
      <figure class="wud-logo">
        <a href="#"><img src="{% static 'img/logo_WudCo.svg' %}" alt="World Usability Day" /></a>
      </figure>
      <div class="header">
        <p><strong>{% copy 'title' default='Día mundial de la usabilidad 2014' %}</strong></p>
        <p><span class="color">{% copy 'city' default='Bogotá Colombia' %}</span></p>
        <p>{% copy 'location-name' default='Universidad Nacional'%}</p>
      </div>
      <div class="date">
        <p><span class="day">7</span> de <strong>noviembre</strong> de 2014</p>
      </div>
    </div>
    {% endblock %}

  </header>

  {% block contenido %}{% endblock %}

  {% include 'front/_footer.html' %}
</body>
</html>
