{% load staticfiles copy humanize %}
<section class="headline">
  <div class="container">

    <h1><span class="color">{% copy 'name-short' default='WUDco 2014'%}:</span> {% copy 'title-description' default='Planificación, ejecución y evaluación de la experiencia de usuario en un proyecto digital'%}</h1>
    <p class="subtitle">{% copy 'subtitle' default='Profesionales del mundo entero se reúnen para celebrar el Día Mundial de la Usabilidad'%}</p>
    <p class="price">Precio antes del 20 de Octubre: <span class="color">${{price_before|intcomma}}</span>.</p>
    <p class="price">Precio hasta el 6 de Noviembre: <span class="color">${{price_after|intcomma}}</span>.</p>
    <br />
    <a href="{% url 'agenda' %}" class="orange">Ver programa</a>
  </div>
</section>