{% load staticfiles copy %}
<section class="images">
  <div class="container">
    <h2 class="sawtooth blue"><span>{% copy 'images-title' default='Wudco en imágenes'%}</span></h2>
	<div class="carousel">
	    <div class="owl-carousel">
	    	{% for image in post_images %}
	    	<div class="item">
	    		<figure>
	    			<img src="{{image.get_image_home}}" alt="">
	    			<figcaption>{{image.name}}</figcaption>
	    		</figure>
	    	</div>{% endfor %}
	    </div>
	    <div class="carousel-controls"></div>
	</div>
  </div>
</section>