{% load staticfiles copy %}
<section class="memoirs">
	<div class="container">
	  <h2 class="sawtooth blue"><span>{% copy 'title-memoirs' default='Memorias' %}</span></h2>
	  <div class="memoirs-text">
			<p>{% copy 'memoirs-text' default='' %}</p>
		</div>
		{% for video in post_videos %}
		<div class="memoirs-video">
			<div class="memoirs-video-cont">
				<div class="video">
					<a href="{{video.video_url}}"></a>
				</div>
			</div>
			<div class="memoirs-video-desc">
				<h3>{{video.name}}</h3>
			</div>
		</div>{% endfor %}
	</div>
</section>