<div class="nav-container">
	<nav>
		<i class="icon-menu"></i>
		<div class="menu">
			<h2>World usability day</h2>
			<ul>
				<li class="is-active"><a href="/">Inicio</a></li>
				<li><a href="/frontend/evento">El evento</a></li>
				<li><a href="/frontend/ponentes">Ponentes</a></li>
				<li><a href="/frontend/programa">Programa</a></li>
				<li><a href="/frontend/talleres">Talleres</a></li>
				<li><a href="/frontend/lugar">Lugar</a></li>
				<li><a href="/frontend/blog">Blog wudco</a></li>
			</ul>
		</div>
		<a href="" class="button">Inscríbete</a>
	</nav>
</div>