{% load staticfiles copy %}
<section class="prev-eds">
	<div class="container">
		<h2 class="sawtooth blue"><span>{% copy 'title-previous' default='Ediciones anteriores' %}</span></h2>
		<div class="last-edition">
			<div class="last-edition-video"><div class="video"><a href="http://www.youtube.com/watch?v=wtLJPvx7-ys"></a></div></div>
			<div class="last-edition-desc">
				<h2>WUDco 2013</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nostrum ullam in, cumque iure omnis. Nobis nesciunt quae at facere velit sit laudantium, perspiciatis asperiores error expedita, quisquam aliquam accusamus?</p>
			</div>
		</div>
		{% include 'front/_prev-ed.html' with video='http://www.youtube.com/watch?v=wtLJPvx7-ys' title='WudCo 2012' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nostrum ullam in, cumque iure omnis. Nobis nesciunt quae at facere velit sit laudantium, perspiciatis asperiores error expedita, quisquam aliquam accusamus?' %}
		{% include 'front/_prev-ed.html' with video='http://www.youtube.com/watch?v=wtLJPvx7-ys' title='WudCo 2011' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nostrum ullam in, cumque iure omnis. Nobis nesciunt quae at facere velit sit laudantium, perspiciatis asperiores error expedita, quisquam aliquam accusamus?' %}
		{% include 'front/_prev-ed.html' with video='http://www.youtube.com/watch?v=wtLJPvx7-ys' title='WudCo 2010' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nostrum ullam in, cumque iure omnis. Nobis nesciunt quae at facere velit sit laudantium, perspiciatis asperiores error expedita, quisquam aliquam accusamus?' %}
		<hr />
		{% include 'front/_prev-ed-ftimg.html' with title='WudCo 2013' img='img/speaker.jpg' %}
		{% include 'front/_prev-ed-ftimg.html' with title='WudCo 2012' img='img/speaker.jpg' %}
		{% include 'front/_prev-ed-ftimg.html' with title='WudCo 2011' img='img/speaker.jpg' %}
	</div>
</section>