{% load staticfiles copy %}
<section class="program">
	<div class="container">
		<h2 class="sawtooth blue"><span>{% copy 'title-program' default='Programa' %}</span></h2>
		<div class="label">
			<i class="icon-talk"></i>
			<span class="label">Charlas</span>
		</div>
		<ul class="program-list">
			{% for item in agenda %}
			{% include 'front/_program-item.html' with class='program-item' icon=item.item_type time=item.get_time_description name=item.title text=item.description %}
			{% if item.coffee_break_after%}
			{% include 'front/_program-item.html' with class='program-item-break' text='Coffee break' %}{% endif %}
			{% endfor %}
		</ul>
		<a href="" class="button">Inscríbete</a>
		<hr />
		<div class="label">
			<i class="icon-workshop"></i>
			<span class="label">Talleres</span>
		</div>
		<span class="program-item-time">3:00 p.m. > 7:00 p.m.</span>
		<ul class="program-workshops">
		{% for speaker in speakers %}
		      {% if speaker.workshop_name %}
		      {% include 'front/_workshop-item.html' with icon=speaker.workshop_icon title=speaker.workshop_name author=speaker.name description=speaker.get_workshop_summay url="/talleres/" %}"
		      {% endif %}
		      {% endfor %}
			{#% include 'front/_workshop-item.html' with icon="planning" title="Errores y aciertos en el proceso de construcción de un sitio web." author="Jorge Arango" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque voluptatibus fuga molestiae doloribus veritatis quia recusandae veniam fugiat magni. Voluptatum dolores esse ipsam. Cumque, reiciendis amet excepturi esse optio!" url="#" %#}
		</ul>
		<a href="https://welcu.com/usaria/dia-mundial-de-la-usabilidad-2014" class="button">Inscríbete</a>
	</div>
</section>