{% load staticfiles copy %}

<section class="so-it-was">
	<div class="container">
		<h1 class="so-it-was-title">{% copy 'post-event-title' default='Así fue WUDco 2014'%}</h1>
		<div class="so-it-was-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati architecto illum sequi. Sint, tempora consequuntur perferendis maiores perspiciatis accusamus qui ipsa doloribus rerum sit, veniam voluptas, asperiores commodi illo. Qui.</p>
		</div>
		<div class="so-it-was-video">
			<div class="so-it-was-video-cont">
				<div class="video">
					<a href="https://www.youtube.com/watch?v=PbnjGiGFxG8"></a>
				</div>
			</div>
			<div class="so-it-was-video-desc">
				<h3>Nulla malesuada nisi eu lectus volutpat, eu sodales sapien semper.</h3>
			</div>
		</div>
		<div class="so-it-was-video">
			<div class="so-it-was-video-cont">
				<div class="video">
					<a href="https://www.youtube.com/watch?v=PbnjGiGFxG8"></a>
				</div>
			</div>
			<div class="so-it-was-video-desc">
				<h3>Nulla malesuada nisi eu lectus volutpat, eu sodales sapien semper.</h3>
			</div>
		</div>
		<div class="so-it-was-video">
			<div class="so-it-was-video-cont">
				<div class="video">
					<a href="https://www.youtube.com/watch?v=PbnjGiGFxG8"></a>
				</div>
			</div>
			<div class="so-it-was-video-desc">
				<h3>Nulla malesuada nisi eu lectus volutpat, eu sodales sapien semper.</h3>
			</div>
		</div>
	</div>
</section>