{% load staticfiles copy %}
<li id="{{speaker.name|slugify}}" class="speaker">
  <div class="speaker-pic">
    <figure>
    <a href="{% url 'speakers' %}#{{speaker.name|slugify}}"><img src="{{ speaker.picture.url }}" alt="{{ speaker.name }}" /></a>
    </figure>
    <a href="{{ speaker.twitter_url|default:'#' }}" class="twitter" target="_blank"><i class="icon-twitter-profile"></i></a>
    <a href="{{ speaker.linkedin_url|default:'#' }}" class="linkedin" target="_blank"><i class="icon-linkedin-profile"></i></a>
  </div>
  <div class="speaker-info">
    <h2 class="speaker-name"><a href="{% url 'speakers' %}#{{speaker.name|slugify}}">{{ speaker.name }}</a></h2>
    <p class="speaker-position-company"><span class="speaker-position">{{speaker.title}}</span> <span class="speaker-company">{{speaker.company}}</span></p>
    <p class="speaker-books">{% if speaker.book_title %}<strong>Autor de: </strong>{{ speaker.book_title }}{% endif %}</p>
    <p class="speaker-bio">{{speaker.bio}}</p>
    <div class="speaker-link">
      <div class="speech-label">
        <span class="icon"><i class="icon-talk"></i></span>
        <span class="label">Charla</span>
      </div>
        <h4>{{ speaker.talk_name }}</h4>
    </div>
    <div class="speaker-link">
      <div class="workshop-label">
        <span class="icon"><i class="icon-workshop"></i></span>
        <span class="label">Taller</span>
      </div>
      <h4><a href="{% url 'workshops' %}#{{speaker.name|slugify}}">{{speaker.workshop_name}}</a></h4>
    </div>
  </div>
</li>