{% load staticfiles copy %}
<section class="speeches">
  <div class="container">
    <h2 class="sawtooth blue"><span>{% copy 'free-talks' default='Charlas preliminares gratuitas'%}</span></h2>
    <ul>
      {% include 'front/_speech.html' with month="Ago" day="20" title="Errores y aciertos en el proceso de construcción de un sitio web." speaker="Jorge Arango" %}

      {% include 'front/_speech.html' with month="Sep" day="10" title="Fundamentos de Lean UX." speaker="Lorena Escandón" %}

      {% include 'front/_speech.html' with month="Oct" day="26" title="Usabilidad en aplicaciones videojuegos." speaker="Valerio Pinna" %}
    </ul>
  </div>
</section>
