{% load staticfiles copy %}
<section class="the-event">
	<div class="container">
	  <h2 class="sawtooth blue"><span>{% copy 'title-event' default='El evento' %}</span></h2>
	  <ul class="event-scopes">
	    <li class="event-scope">
	    	<i class="icon-planning"></i>
	    	<span class="event-scope-name">Planeación</span>
	    </li>
	    <li class="event-scope">
	    	<i class="icon-execution"></i>
	    	<span class="event-scope-name">Ejecución</span>
	    </li>
	    <li class="event-scope">
	    	<i class="icon-evaluation"></i>
	    	<span class="event-scope-name">Evaluación</span>
	    </li>
	  </ul>
	  <div class="event-info">
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat perspiciatis iste architecto hic pariatur, corporis distinctio culpa ad nemo? Consequatur iure nesciunt ipsum laborum minima, ipsam quod quis veniam sunt!</p>
	  </div>
	  <div class="event-practical-info">
	  	<h3>Información práctica</h3>
	  	<ul>
	  		<li>Curibatur pellentesque risus ac adipscing tristique.</li>
	  		<li>Nunc pretium tempor erat ut cursus. Nulla mollis.</li>
	  		<li>Nullam vet est vitae sapien auctor dignissim eget non ante.</li>
	  		<li>Curabitur molestie turpis non nunc vestibulum, et accumsan nibh rutrum.</li>
	  	</ul>
	  	<center>
	  		<a href="#" class="button">Cómo llegar</a>
	  	</center>
	  </div>
	</div>
</section>