{% load staticfiles copy %}
<section class="the-event">
	<div class="container">
	  <h2 class="sawtooth blue"><span>{% copy 'title-event' default='El evento' %}</span></h2>
	  <ul class="event-scopes">
	    <li class="event-scope">
	    	<i class="icon-planning"></i>
	    	<span class="event-scope-name">Planeación</span>
	    </li>
	    <li class="event-scope">
	    	<i class="icon-execution"></i>
	    	<span class="event-scope-name">Ejecución</span>
	    </li>
	    <li class="event-scope">
	    	<i class="icon-evaluation"></i>
	    	<span class="event-scope-name">Evaluación</span>
	    </li>
	  </ul>
	  <div class="event-info">
	  	<p>{% copy 'event-description' br=True %}</p>
	  </div>
	  <div class="event-practical-info">
	  	<h3>{% copy 'practical-info' br=True default="Información práctica" %}</h3>
	  	<ul>
	  		{% copy 'practical-info-tips' br=True %}
	  	</ul>
	  	<center>
	  		<a href="{% url 'place' %}" class="button">Cómo llegar</a>
	  	</center>
	  </div>
	</div>
</section>