{% extends 'front/_base.html' %}
{% load staticfiles copy humanize %}

{% block contenido %}
	<section class="innerpage">
		<div class="container">
			<article class="innerpage-article">
				{% if post %}
				<h2>{{post.title}}</h2>
				<p class="innerpage-date">{{ post.date_published|naturaltime|capfirst }}</p>
				<figure class="innerpage-ft-img">
					<img src="{{post.image_post}}" alt="">
				</figure>
				<div class="innerpage-post">
					{{post.text|safe}}
				</div>
				{% else%}
				<h2>No hay artículos aún!</h2>
				{% endif %}
			</article>
		</div>
	</section>
	{% if more_posts %}
	<section class="innerpage-other">
		<div class="container">
			<h2 class="sawtooth blue"><span>Otros artículos</span></h2><br />
			{% for inner_post in more_posts %}
			{% include 'front/_other-article.html' with post=inner_post %}{% endfor %}
		</div>
	</section>{% endif %}
{% endblock %}