{% extends 'front/_base.html' %}
{% load staticfiles copy %}

{% block contenido %}
	<section class="innerpage">
		<div class="container">
			<article class="innerpage-article">
				<h2>Nulla malesuada nisi eu lectus volutpat, eu sodales sapien semper</h2>
				<p class="innerpage-date">22 de Septiembre de 2014</p>
				<figure class="innerpage-ft-img">
					<img src="{% static 'img/wii.jpg' %}" alt="">
				</figure>
				<div class="innerpage-post">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nam dolor eum provident, facere assumenda quaerat? Ab dolorum nihil, <a href="#">incidunt quaerat</a> rem enim iure ea nobis beatae obcaecati! Enim, delectus.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quod dicta, suscipit ipsum, nulla alias reiciendis a eos animi eius id impedit rem quo modi aspernatur perferendis voluptate sunt corporis.</p>
					<img src="{% static 'img/innerpage-img1.jpg' %}" alt="">
					<img src="{% static 'img/innerpage-img2.jpg' %}" alt="">
					<img src="{% static 'img/innerpage-img3.jpg' %}" alt="">
					<h3>230 personas participaron del WudCo 2013</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde possimus quia reprehenderit debitis cum non voluptate tempora, veritatis. Labore sequi placeat eum perferendis, fugit blanditiis facilis hic nostrum autem odit.</p>
					<ul>
						<li>Maecenas congue orci vitae.</li>
						<li>Sed non neque molestie.</li>
						<li>Nulla tincidunt purus eget dui viverra.</li>
						<li>Etiam dictum.</li>
					</ul>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus optio sapiente, labore vel facilis voluptatibus, aliquid, nostrum commodi alias expedita suscipit, at soluta dolorum eos nulla error sint odio?</p>
				</div>
			</article>
		</div>
	</section>
	<section class="innerpage-other">
		<h2 class="sawtooth blue"><span>Otros artículos</span></h2>
		<div class="other-article">
			<figure class="other-article-img">
				<img src="{% static 'img/other-article.jpg' %}" alt="">
			</figure>
			<div class="other-article-info">
				<h3 class="other-article-title"><a href="#">Errores y aciertos en el proceso de construcción de un sitio web.</a></h3>
				<p class="other-article-writer">Jorge Arango</p>
				<p class="other-article-link"><a href="#">Ver más</a></p>
			</div>
		</div>
	</section>
{% endblock %}