{% extends 'front/_base.html' %}
{% load staticfiles copy %}

{% block contenido %}
	<section class="wannabesponsor-form">
		<div class="container">
			<div class="form-resp">
				<h2 class="form-resp-subject">Quiero ser patrocinador</h2>
				<br />
				<div class="form-resp-status">
					<i class="icon-check"></i>
				</div>
				<br />
				<p class="form-resp-text">Tu mensaje ha sido enviado con éxito. Muy pronto te contactaremos.</p>
				<div class="form-resp-buttons">
					<a href="" class="button">Volver al inicio</a>
					<a href="" class="button">Ver programa</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}