.actions,
.follow-us,
.organizer
	margin-bottom: 1em

.actions,
.menu-footer
	font-size: 0.8rem

	ul
		list-style: none
		padding-left: 1em
		text-align: left

		li
			line-height: 1.25em

			&:before
				content: '•'
				font-size: 1.75rem
				padding-right: 7px
				transition: color 0.3s
				vertical-align: middle

			&:hover a,
			&:hover:before
				color: $color_azul

.blog-item
	color: $color_azul
	display: none
	margin-bottom: 1em
	text-align: left

	h4
		margin-top: 0.25em

	.blog-item-author
		color: $color_gris
		font-weight: 600

	.blog-item-date
		font-weight: normal
		margin-bottom: 1em

	.blog-item-link
		font-weight: bold

	.blog-item-title
		font-weight: bold

	&:first-of-type
		display: inline-block

.contact,
.counter
	font-size: 1rem
	margin: 0 auto
	text-align: center

.contact
	button,
	input,
	label
		vertical-align: middle

	input[type="email"]
		color: $color_gris
		width: 235px

	label
		display: block
		margin-bottom: 0.5em

.counter
	.number
		background: $fondo_azul
		border-radius: 50%
		display: inline-block
		font-size: x-large
		padding: 0.35em

.date,
.header
	font-size: 1rem
	margin: 0 auto
	text-align: center

	p
		margin: 0

.event-info,
.event-practical-info
	margin: 1em 0
	text-align: left

	h3
		color: $color_azul
		margin-top: 0

	p
		margin: 0 0 0.5em 0

	ul
		padding-left: 20px

	.button
		margin-top: 1em

.event-scopes
	i,
	span
		display: block

	i
		color: $color_azul
		font-size: 3rem

	span
		font-size: small
		margin-top: 0.5em
		text-transform: uppercase

	.event-scope
		display: inline-block
		width: 32%

.form-content
	border-top: 1px solid rgba(0, 0, 0, 0.2)

.form-info
	display: none

.form-resp
	.form-resp-status
		background: $color_azul
		border-radius: 50%
		color: white
		display: inline-block
		font-size: 1.5rem
		line-height: 3.5rem
		margin-bottom: 1em
		height: 3rem
		text-align: center
		width: 3rem

.header
	border-top: 1px solid rgba(128, 128, 128, 0.4)
	padding: 1em 0
	width: 90%

.label
	margin: 0 auto 1em auto

	i,
	span
		color: $color_azul
		display: block

	span
		font-size: smaller
		margin: 0.2em 0 0 0
		text-transform: uppercase

.last-edition
	.last-edition-desc
		text-align: left

		h2
			color: $color_azul
			font-size: x-large
			margin-top: 1em

		p
			margin-top: 0
			margin-bottom: 1em

.last-edition-img
	margin: 0

	img
		vertical-align: middle
		width: 100%

.menu
	background: $fondo_gris
	height: 100%
	overflow-y: auto
	position: fixed
	right: 100%
	top: 0
	transition: all 0.3s
	width: $menu_width
	z-index: 999999999999

	ul
		margin-top: 1em

		li
			a
				display: block
				font-weight: bold
				padding: 1em
				text-decoration: none
				text-transform: capitalize
				transition: all 0.3s

			&:hover:not(.is-active) a
				background: rgba(0, 0, 0, 0.2)

.menu-footer
	left: 100%
	position: absolute
	top: 0
	width: 60%

	ul
		margin-top: 1em

.more-of-team
	font-weight: 600

	&:hover
		color: inherit

.nearby-item
	text-align: left

	ul
		padding-left: 20px

.other-article
	box-sizing: border-box
	font-size: 0.75rem
	margin-bottom: 1em

	h3,
	p
		margin-top: 0
		margin-bottom: 0.25em

	.other-article-img,
	.other-article-info
		box-sizing: border-box
		display: inline-block
		vertical-align: top

	.other-article-img
		margin: 0
		width: 25%

		img
			width: 100%

	.other-article-info
		padding-left: 1em
		text-align: left
		width: 70%

	.other-article-link a
		color: $color_naranja

	.other-article-title a
		color: $color_gris
		text-decoration: none

		&:hover
			text-decoration: underline

.place
	text-align: left

	.place-address
		color: $color_azul
		font-weight: bold

	.place-location
		margin-bottom: 1em

		span
			display: block

	.place-map
		margin: 0.5em auto

		iframe
			width: 100%

		.place-address,
		.place-city
			color: $color_gris
			display: block
			font-size:  smaller
			font-weight: bold

	.place-name
		margin-bottom: 0
		text-align: left
	
	.place-picture
		margin: 0.5em auto

		img
			width: 100%

.prev-ed,
.prev-ed-ftimg
	display: none

.prev-ed img
	width: 100%

.program-item,
.program-item-break
	border-top: 2px solid rgba(0, 0, 0, 0.2)
	display: block
	padding: 1em 0

	p
		margin-top: 0

	.program-item-icon,
	.program-item-info
		box-sizing: border-box
		display: inline-block
		text-align: left
		vertical-align: top

	.program-item-icon
		color: $color_azul
		font-size: 2rem
		width: 15%

	.program-item-info
		width: 80%

	.program-item-name
		text-align: left

	.program-item-time
		margin: 0

.program-item-break
	font-size: large
	text-transform: uppercase

	p
		margin: 0

.program-item-time
	color: $color_naranja
	display: block
	font-weight: bold
	margin: 1em auto

.innerpage-article
	.innerpage-ft-img
		margin: 1em auto

		img
			width: 100%

	.innerpage-date
		color: $color_azul
		font-size: 1.2rem
		margin-top: 0
	
	.innerpage-post
		font-size: 1rem

		a
			color: $color_azul
			transition: all 0.3s

			&:hover
				color: $color_naranja

		h1,
		h2,
		h3,
		h4,
		h5,
		h6
			color: $color_naranja
			display: inline-block
			margin-top: 0
			text-align: left
			vertical-align: middle

		img
			margin: 0.25em
			vertical-align: middle
			width: 30%

		p
			text-align: left

		ul
			padding-left: 20px
			text-align: left

.social-network
	display: inline-block
	margin: 1em
	text-decoration: none

	i
		font-size: 30px

.speaker
	display: inline-block
	font-size: 1.4rem
	margin: 1em 40px

.speaker-books
	font-size: 0.8rem

.speaker-pic
	height: $speaker_img_size
	position: relative
	margin: 0 auto
	width: $speaker_img_size

	& > a
		+radial-gradient()
		//background: transparent no-repeat center
		//background-size: cover
		display: block
		height: 45px
		position: absolute
		text-decoration: none
		width: 45px

		i
			font-size: 45px
			transition: color 0.3s

		&.linkedin
			bottom: -5px
			right: 0

			i
				color: #007BB5

		&.twitter
			right: -25px
			top: 50%

			i
				color: #5FA9DD

		&:hover i
			color: #393939
			text-decoration: none

	figure
		border: 10px solid white
		border-radius: 50%
		box-sizing: border-box
		height: 100%
		overflow: hidden
		margin: 0
		text-align: center
		width: 100%

		img
			height: 100%

.speaker-name,
.speaker-position,
.speaker-company
	margin: 0
	text-align: center

.speaker-bio
	font-size: 1rem

.speaker-link
	margin: 1em auto

	h4
		font-size: 1rem
		margin: 0

		a
			color: inherit

	[class*="-label"]
		color: $color_azul
		font-size: 1rem
		font-weight: 600
		text-transform: uppercase
		
		.icon,
		.label
			margin: 0 0.2em
			vertical-align: middle

		.icon
			font-size: x-large

.speaker-name
	font-weight: bold
	margin-top: 0.5em
	text-transform: capitalize

	a
		text-decoration: none

		&:hover
			color: inherit
			text-decoration: underline

.speaker-position,
.speaker-company
	font-size: smaller

.speaker-position-company
	color: $color_azul
	font-size: 0.8rem
	margin: 0 0 0.5em 0

.speakers-page
	.speaker
		border-bottom: 2px solid rgba(0, 0, 0, 0.2)
		margin: 1em

	.speaker-company:before
		content: '/'
		padding-right: 0.25em

	.speaker-name a
		color: $color_gris

	&:last-of-type
		border-bottom: none
		margin-bottom: 0

.speech
	display: block
	margin-bottom: 1em

	.speech-date,
	.speech-info
		box-sizing: border-box
		display: inline-block
		vertical-align: top

	.speech-date
		background: url("../img/calendar_conf.svg") no-repeat
		background-size: auto $calendar_size
		font-size: 0.7rem
		font-weight: 600
		height: $calendar_size
		width: $calendar_size

		.speech-day
			font-size: 1.4rem
			font-weight: bold
			line-height: 1.2em

		.speech-month
			color: white
			margin-top: 0.7em
			text-transform: uppercase

	.speech-info
		font-size: 0.8rem
		margin-left: 0.5em
		text-align: left
		width: calc(100% - #{$calendar_size} - 50px)

		.speech-link,
		.speech-speaker,
		.speech-title
			margin: 0.3em 0 0 0

		.speech-link a
			color: $color_naranja
			font-weight: bold
			transition: color 0.3s

			&:hover
				color: $color_azul

		.speech-title a
			color: inherit
			text-decoration: none

			&:hover
				text-decoration: underline


.sponsor
	box-sizing: border-box
	display: inline-block
	margin: 0.5em
	vertical-align: middle
	width: 45%
	
	figure
		margin: 0

		img
			width: 100%

.sponsor-form
	padding: 2em 1em

	a
		color: $color_gris
		font-weight: bold

	input,
	label,
	textarea
		vertical-align: middle

	input:not([type="checkbox"]),
	textarea
		display: block
		width: 100%

	p
		text-align: left
		width: 100% !important

		&:last-of-type
			direction: rtl

			*
				direction: ltr

			label
				font-size: smaller

				&:after
					content: ''

.sub
	font-size: 0.8rem
	letter-spacing: 0.2em
	margin: 0.5em
	text-transform: uppercase

.sub-content
	img
		width: 80%

.team
	a
		pointer-events: none

.video
	position: relative
	padding-bottom: 56.25%
	height: 0
	overflow: hidden
	max-width: 100%

	embed,
	iframe,
	object
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 2

	&:before
		background: $color_azul
		bottom: 0.75em
		border-radius: 3px
		content: '\e60b'
		color: white
		cursor: pointer
		font-family: icomoon
		left: 0.5em
		padding: 0.25em 0.75em
		position: absolute
		z-index: 1

.video a
	color: #fff
	display: block

.workshop
	border-bottom: 2px solid rgba(0, 0, 0, 0.2)
	display: block
	font-size: 1rem
	margin-bottom: 1em
	overflow: hidden
	padding-bottom: 1em

	.speaker-profile
		color: $color_naranja
		font-weight: bold
		text-decoration: underline

	&:last-of-type
		border-bottom: none
		margin-bottom: 0

.workshop-icon
	color: $color_azul
	font-size: 2.5rem
	margin: 0.5em

.workshop-item
	display: block
	color: $color_azul
	margin-bottom: 1em

	.workshop-item-author,
	.workshop-item-description
		color: $color_gris
		display: none

	.workshop-item-author,
	.workshop-item-link,
	.workshop-item-title
		font-weight: bold

	.workshop-item-icon,
	.workshop-item-info
		display: inline-block
		vertical-align: top

	.workshop-item-icon
		font-size: 2rem
		width: 10%

	.workshop-item-info
		text-align: left
		width: 88%

	.workshop-item-room
		color: $color_gris
		margin-top: -0.5em

	.workshop-item-title
		margin-top: 0
		margin-bottom: 1em

.workshop-learn-list
	margin-bottom: 2em
	padding-left: 40px
	text-align: left

	.workshop-learn-skill
		list-style-type: disc

.workshop-title
	color: $color_azul
	margin-bottom: 0

.wud-logo
	margin: 0.75em auto
	width: 80%

	img
		width: 100%

#contact-link
	display: none

@media screen and (min-width: $tablet-th)
	.actions,
	.follow-us,
	.organizer
		display: inline-block
		margin: 1em
		vertical-align: top

	.blog-item
		display: inline-block
		vertical-align: top
		width: 49%

	.contact label
		display: initial

		input[type="email"]
			width: 240px

	.date
		border-top: 1px solid rgba(128, 128, 128, 0.4)
		padding: 1em 0
		width: 95%

		.day
			background: url("../img/calendar_nav.svg") no-repeat
			background-size: auto $calendar_nav_size
			box-sizing: border-box
			display: inline-block
			font-weight: bold
			height: $calendar_nav_size
			padding: 1em
			vertical-align: middle
			width: $calendar_nav_size

	.event-info,
	.event-practical-info
		box-sizing: border-box
		display: inline-block
		vertical-align: top

		center
			text-align: left

	.event-info
		padding-right: 0.5em
		width: 60%

	.event-practical-info
		padding-left: 0.5em
		width: 35%

	.event-scopes
		margin: 1em auto

		.event-scope
			width: 20%

	.form-info,
	.sponsor-form
		box-sizing: border-box
		display: inline-block
		vertical-align: top
		width: 49%

	.form-info
		padding: 2em 1em
		text-align: left

	.form-info-img
		margin: 2em 0 0 0
		position: relative

		img
			width: 100%

		&:after
			bottom: 0.25em
			color: white
			content: 'WUDco 2014'
			font-size: 6.5em
			font-weight: bold
			position: absolute
			left: 0
			line-height: 0.75em
			right: 0
			text-align: center

	.form-info-text
		p
			margin: 1em 0 0 0 !important

	.header,
	.wud-logo
		display: inline-block
		vertical-align: middle

	.header
		border: none
		text-align: left
		width: auto

	.innerpage-article
		padding: 0 2em
		text-align: left

		h2
			font-size: xx-large
			margin-bottom: 0.25em
			text-align: left

		.innerpage-date
			margin-bottom: 3em

		.innerpage-post
			img
				width: 20%

			img ~ h2,
			img ~ h3,
			img ~ h4,
			img ~ h5,
			img ~ h6
				margin: 0
				width: 30%

	.label
		i
			font-size: 2rem

		span
			font-size: x-large

	.last-edition
		margin: 1em 0 2em 0

		.last-edition-desc,
		.last-edition-img,
		.last-edition-video
			box-sizing: border-box
			display: inline-block
			vertical-align: top
			width: 49%

		.last-edition-desc
			padding-left: 0.5em

			h2
				margin-top: 0

		.last-edition-img,
		.last-edition-video
			padding-right: 0.5em

	.menu
		display: inline-block
		overflow: visible
		position: initial
		vertical-align: middle
		width: auto

		ul
			margin: 0

			li
				display: inline-block
				vertical-align: middle

				a
					padding: 1em 0.5em

	.menu-footer
		display: inline-block
		position: initial
		width: auto

	.nearby-item
		box-sizing: border-box
		display: inline-block
		padding: 0 1em
		vertical-align: top
		width: 32%

		h3
			margin-top: 0

		&:nth-child(2)
			border-width: 0 1px
			border-style: solid

	.other-article
		display: inline-block
		width: 49%

	.place
		.place-map,
		.place-picture
			box-sizing: border-box
			display: inline-block
			vertical-align: top

		.place-map
			height: $map-height
			max-height: 208px
			max-width: 350px
			width: $map-width

			iframe
				height: 100%

		.place-picture
			padding-right: 1em
			width: 93vw - $map-width

	.prev-ed
		box-sizing: border-box
		display: inline-block
		padding-right: 1em
		width: 32%

		.prev-ed-desc
			display: none

	.prev-ed-ftimg
		box-sizing: border-box
		display: inline-block
		padding-right: 1em
		width: 32%

		figure
			margin: 0

			img
				width: 100%

		h2
			color: $color_azul
			margin-bottom: 0.5em

	.program-item
		.program-item-icon
			font-size: 5rem

	.speakers-page
		.speaker
			.speaker-info,
			.speaker-pic
				display: inline-block
				vertical-align: top

			.speaker-info
				margin-left: 2em
				position: relative
				text-align: left
				width: 55%
	
			.speaker-books
				left: -($speaker_img_size + 60px)
				position: absolute
				text-align: center
				top: $speaker_img_size + 10px
				width: $speaker_img_size + 30px

			.speaker-name
				font-size: xx-large

			.speaker-position-company
				font-size: larger

	.speech
		display: inline-block
		margin: 0.5em
		width: 260px

		.speech-info
			width: calc(100% - #{$calendar_size} - 20px)

	.sponsor
		margin: 1em 2em
		width: 180px

	.sub-content img
		width: 150px

	.workshop
		.speaker-name
			text-align: left

		.speaker-pic
			display: inline-block
			vertical-align: top

	.workshop-icon
		display: inline-block
		margin: 0
		position: absolute
		right: 0
		top: 0.25em

	.workshop-info
		display: inline-block
		margin-left: 2em
		position: relative
		text-align: left
		width: 55%
		vertical-align: top

		.speaker-profile
			left: -($speaker_img_size + 50px)
			position: absolute
			text-align: center
			top: $speaker_img_size + 10px
			width: $speaker_img_size + 30px

	.workshop-item
		display: inline-block
		margin-bottom: 3em
		width: 49%

		.workshop-item-author,
		.workshop-item-description
			display: block
			margin-bottom: 1em

		.workshop-item-icon
			font-size: 2.5rem
			width: 18%

		.workshop-item-info
			width: 80%

		.workshop-item-title
			margin-bottom: 0.25em

	.workshop-learn-list
		padding-left: 20px

	/*.workshop-signup
		.button
			font-size: larger*/

	.workshop-title
		text-align: left
		width: 90%

	.wud-logo
		margin: 1em 4em 1em 0
		width: 45%

	#contact-link
		display: initial

@media screen and (min-width: $desktop-th)
	.actions ul
		padding: 0

		li
			margin: 0 0.5em

	.actions,
	.follow-us,
	.menu-footer,
	.organizer
		vertical-align: middle

	.blog-item
		width: 45%

	.contact,
	.counter
		display: inline-block
		margin: 0 1em
		vertical-align: middle

	.counter
		font-size: 1.75rem

		.number
			font-size: xx-large

	.date
		border: none
		display: inline-block
		margin: 1em 2em
		width: auto

	.event-scopes .event-scope
		width: 15%

		i
			font-size: 4.25rem

		span
			font-size: initial

	.innerpage-article
		padding: 0 16em

		.innerpage-post
			img ~ h2,
			img ~ h3,
			img ~ h4,
			img ~ h5,
			img ~ h6
				margin-left: 1em

	.menu ul li a
		padding: 1em 1.5em

	.menu-footer ul
		+column-count(2)
		+column-fill(balance)

	.other-article
		width: 30%

	.prev-ed
		text-align: left

		.prev-ed-desc
			display: block

			h3
				color: $color_azul
				font-size: x-large

	.speakers-page
		.speaker
			.speaker-link
				box-sizing: border-box
				display: inline-block
				width: 49%

				&:last-of-type
					border-left: 2px solid rgba(0, 0, 0, 0.2)
					padding-left: 1em

	.speech
		//margin: 1em 2.5em
		width: 280px

		.speech-info
			width: calc(100% - #{$calendar_size} - 15px)

	.sub,
	.sub-content
		display: inline-block
		vertical-align: middle

	.sub
		border-right: 1px solid
		padding: 0.5em 1em

	.workshop-item
		width: 32%

	.wud-logo
		margin: 1em 8em 1em 0
		width: 30%