//Colors
$color_azul: #33A7B0
$color_azul_oscuro: #0f3858
$color_gris: #393939
$color_naranja: #ed594f
$fondo_azul: $color_azul_oscuro
$fondo_gris: #f5f5f5

//Images
$headline_bckgnd: "../img/home.svg"
$zigzag_blue: "../img/zigzag-blue.svg"
$zigzag_white: "../img/zigzag-white.svg"

//Sizes
$calendar_size: 50px
$calendar_nav_size: 50px
$map-width: 38vw
$map-height: $map-width/1.68
$menu_width: 70%
$speaker_img_size: 180px

//Width thresholds
$desktop-th: 960px
$tablet-th: 768px