@charset "UTF-8";
@import url(normalize.css);
@import url(fontface.css);
@import url(icomoon.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
a {
  color: white;
  transition: color 0.3s; }
  a:hover {
    color: #33A7B0; }
  a.orange {
    color: #de4b39; }
    a.orange:hover {
      color: #33A7B0; }

body {
  background: white;
  color: #393939;
  font-family: Raleway;
  font-size: 10px; }

button,
input[type="submit"],
.button {
  box-sizing: border-box;
  background: #de4b39;
  border: none;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  height: 35px;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.3s; }
  button:hover,
  input[type="submit"]:hover,
  .button:hover {
    background: #2c8284;
    color: inherit; }

form {
  /*.field-error
   * input:not([type="checkbox"]),
   * textarea
   * 	border: 1px solid $color_naranja */ }
  form input:not([type="checkbox"]),
  form textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    resize: none;
    transition: all 0.3s; }
    form input:not([type="checkbox"]):focus,
    form textarea:focus {
      outline: 1px solid #33A7B0; }
  form .errorlist {
    color: #de4b39; }
    form .errorlist li {
      display: block; }
  form .field-required label:after {
    content: "*"; }

hr {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%; }

h2 {
  display: inline-block;
  text-align: center; }
  h2.sawtooth {
    border-image-width: 0.3em !important;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 0.4em 0.2em;
    text-transform: uppercase;
    width: auto; }
    h2.sawtooth.blue {
      border-image: url("../img/zigzag-blue.svg") 0 0 10 0 round round;
      color: #33A7B0; }
    h2.sawtooth.white {
      border-image: url("../img/zigzag-white.svg") 0 0 10 0 round round;
      color: white; }

input {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 0.5em;
  height: 35px; }

span.color {
  color: #33A7B0; }

ul {
  padding: 0; }

footer {
  background: #393939;
  color: white;
  padding: 2em 1em;
  text-align: center; }
  footer .l-footer {
    position: relative;
    width: 60%; }

header {
  text-align: center; }

nav {
  background: #393939;
  color: white;
  font-size: 1rem;
  margin-top: 0.5em;
  overflow: hidden;
  padding: 1em;
  text-align: left;
  transition: all 0.3s; }
  nav h2 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    display: block;
    margin-left: 1em;
    padding: 1.5em 0 1em 0;
    text-align: left; }
  nav .button {
    display: inline-block;
    float: right;
    line-height: 1.5em;
    vertical-align: middle; }
  nav .icon-menu {
    cursor: pointer;
    font-size: 2em;
    transition: all 0.3s;
    vertical-align: middle; }
    nav .icon-menu:hover {
      color: #33A7B0; }

section {
  background: white;
  font-size: 1rem;
  padding: 2em 1em;
  text-align: center; }
  section h2 {
    font-size: 1.2rem;
    margin-top: 0; }
  section ul {
    margin: 0 auto;
    max-width: 1000px; }
  section.blog-entries ul {
    margin: 2em auto; }
  section.countdown {
    background: #393939;
    color: white; }
  section.headline, section.location, section.speakers-detail, section.the-event, section.wannabesponsor {
    position: relative; }
    section.headline:after, section.location:after, section.speakers-detail:after, section.the-event:after, section.wannabesponsor:after {
      background-size: 10px 12px, 10px 10px !important;
      bottom: -20px;
      content: "";
      display: block;
      height: 30px;
      left: 0;
      position: absolute;
      width: 100%; }
  section.headline {
    background: url("../img/home.svg") no-repeat;
    background-position: center calc(100% + 20px);
    background-size: contain;
    padding-bottom: 25%; }
    section.headline a {
      display: inline-block;
      font-size: 1rem;
      font-weight: 600;
      margin: 1em; }
    section.headline h1,
    section.headline p {
      margin: 0 auto;
      text-align: center; }
    section.headline h1 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 0.5em; }
      section.headline h1 span {
        display: block; }
    section.headline p {
      font-size: 1rem; }
    section.headline .price {
      width: 75%; }
      section.headline .price span {
        font-weight: 600; }
    section.headline .subtitle {
      display: none;
      margin-bottom: 1em;
      width: 60%; }
    section.headline:after {
      background: linear-gradient(-45deg, transparent 75%, white 75%) 0 50%, linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
      background: -webkit-linear-gradient(135deg, transparent 75%, white 75%) 0 50%, -webkit-linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
      background-repeat: repeat-x; }
  section.location:after {
    background: linear-gradient(-45deg, transparent 75%, white 75%) 0 50%, linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
    background: -webkit-linear-gradient(135deg, transparent 75%, white 75%) 0 50%, -webkit-linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
    background-repeat: repeat-x; }
  section.prev-eds .container > h2 {
    white-space: nowrap; }
  section.prev-eds hr {
    display: none; }
  section.program hr {
    margin: 1em auto; }
  section.nearby, section.speakers, section.subscribe, section.wannabesponsor, section.work-team {
    background: #33A7B0;
    color: white; }
  section.speakers-detail:after {
    background: linear-gradient(-45deg, transparent 75%, white 75%) 0 50%, linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
    background: -webkit-linear-gradient(135deg, transparent 75%, white 75%) 0 50%, -webkit-linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
    background-repeat: repeat-x; }
  section.sponsors a {
    font-weight: bold; }
  section.subscribe .container {
    padding: 2em; }
  section.the-event:after {
    background: linear-gradient(-45deg, transparent 75%, white 75%) 0 50%, linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
    background: -webkit-linear-gradient(135deg, transparent 75%, white 75%) 0 50%, -webkit-linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
    background-repeat: repeat-x; }
  section.wannabesponsor {
    padding: 5em 1em; }
    section.wannabesponsor p {
      font-size: 0.8rem;
      margin: 0 auto 2em auto;
      max-width: 800px;
      width: 90%; }
    section.wannabesponsor:after {
      background: linear-gradient(-45deg, transparent 75%, #33A7B0 75%) 0 50%, linear-gradient(45deg, transparent 75%, #33A7B0 75%) 0 50%;
      background: -webkit-linear-gradient(135deg, transparent 75%, #33A7B0 75%) 0 50%, -webkit-linear-gradient(45deg, transparent 75%, #33A7B0 75%) 0 50%;
      background-repeat: repeat-x; }
  section.wannabesponsor-form h2 {
    color: #33A7B0; }
  section.wannabesponsor-form p {
    font-size: 1rem;
    margin: 0 auto 1em auto;
    width: 90%; }
  section.workshops ul {
    margin: 2em auto; }
  section.workshops .price span {
    font-weight: 600; }
  section.workshops .price:first-of-type {
    margin-top: 1em; }
  section.workshops-room .container > h2 {
    white-space: nowrap; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden; }

@media screen and (min-width: 768px) {
  footer .l-footer {
    display: inline-block;
    width: auto; }

  nav {
    overflow: visible;
    padding: 0; }
    nav h2,
    nav .icon-menu {
      display: none; }
    nav .button {
      float: initial; }

  section h2 {
    font-size: 1.4rem; }
  section.blog-entries, section.images {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 49%; }
  section.blog-entries + hr {
    display: none; }
  section.headline {
    background-position: center calc(100% + 40px); }
    section.headline h1 {
      font-size: 2rem; }
      section.headline h1 span {
        display: initial; }
    section.headline p {
      font-size: 1.2rem; }
    section.headline .subtitle {
      display: block; }
  section.prev-eds hr {
    display: block;
    margin: 2em 0;
    width: 100%; }
  section.wannabesponsor p {
    font-size: 1rem; } }
@media screen and (min-width: 960px) {
  section h2 {
    font-size: 1.6rem; }
  section.headline {
    background-size: auto 55%;
    padding-bottom: 20%; }
    section.headline a {
      font-size: larger; }
    section.headline h1 {
      font-size: 2.2rem;
      width: 55%; }
    section.headline p {
      font-size: 1.4rem;
      width: 45%; }
    section.headline .price {
      display: inline-block;
      width: auto; }
  section.wannabesponsor-form .container {
    box-sizing: border-box;
    padding: 0 12em; }
  section.workshops .price {
    display: inline-block;
    margin-top: 2em; } }
.actions,
.follow-us,
.organizer {
  margin-bottom: 1em; }

.actions,
.menu-footer {
  font-size: 0.8rem; }
  .actions ul,
  .menu-footer ul {
    list-style: none;
    padding-left: 1em;
    text-align: left; }
    .actions ul li,
    .menu-footer ul li {
      line-height: 1.25em; }
      .actions ul li:before,
      .menu-footer ul li:before {
        content: "•";
        font-size: 1.75rem;
        padding-right: 7px;
        transition: color 0.3s;
        vertical-align: middle; }
      .actions ul li:hover a, .actions ul li:hover:before,
      .menu-footer ul li:hover a,
      .menu-footer ul li:hover:before {
        color: #33A7B0; }

.blog-item {
  color: #33A7B0;
  display: none;
  list-style-type: none;
  margin-bottom: 1em;
  text-align: left; }
  .blog-item h4 {
    margin-top: 0.25em; }
  .blog-item .blog-item-author {
    color: #393939;
    font-weight: 600; }
  .blog-item .blog-item-date {
    font-weight: normal;
    margin-bottom: 1em; }
  .blog-item .blog-item-link {
    font-weight: bold; }
  .blog-item .blog-item-title {
    font-weight: bold; }
  .blog-item:first-of-type {
    display: block; }

.carousel {
  position: relative; }
  .carousel .carousel-controls {
    color: white;
    font-size: 5rem; }

.contact,
.counter {
  font-size: 1rem;
  margin: 0 auto;
  text-align: center; }

.contact button,
.contact input,
.contact label {
  vertical-align: middle; }
.contact input[type="email"] {
  color: #393939;
  width: 235px; }
.contact label {
  display: block;
  margin-bottom: 0.5em; }

.counter .number {
  background: #33A7B0;
  border-radius: 50%;
  display: inline-block;
  font-size: x-large;
  padding: 0.35em; }

.date,
.header {
  font-size: 1rem;
  margin: 0 auto;
  text-align: center; }
  .date p,
  .header p {
    margin: 0; }

.event-info,
.event-practical-info {
  margin: 1em 0;
  text-align: left; }
  .event-info h3,
  .event-practical-info h3 {
    color: #33A7B0;
    margin-top: 0; }
  .event-info p,
  .event-practical-info p {
    margin: 0 0 0.5em 0; }
  .event-info ul,
  .event-practical-info ul {
    padding-left: 20px; }
  .event-info .button,
  .event-practical-info .button {
    margin-top: 1em; }

.event-scopes i,
.event-scopes span {
  display: block; }
.event-scopes i {
  color: #33A7B0;
  font-size: 3rem; }
.event-scopes span {
  font-size: small;
  margin-top: 0.5em;
  text-transform: uppercase; }
.event-scopes .event-scope {
  display: inline-block;
  width: 32%; }

.form-content {
  border-top: 1px solid rgba(0, 0, 0, 0.2); }

.form-info {
  display: none; }

.form-resp .form-resp-status {
  background: #33A7B0;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-bottom: 1em;
  height: 3rem;
  text-align: center;
  width: 3rem; }

.header {
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  padding: 1em 0;
  width: 90%; }

.label {
  margin: 0 auto 1em auto; }
  .label i,
  .label span {
    color: #33A7B0;
    display: block; }
  .label span {
    font-size: smaller;
    margin: 0.2em 0 0 0;
    text-transform: uppercase; }

.last-edition .last-edition-desc {
  text-align: left; }
  .last-edition .last-edition-desc h2 {
    color: #33A7B0;
    font-size: x-large;
    margin-top: 1em; }
  .last-edition .last-edition-desc p {
    margin-top: 0;
    margin-bottom: 1em; }

.last-edition-img {
  margin: 0; }
  .last-edition-img img {
    vertical-align: middle;
    width: 100%; }

.menu {
  background: #393939;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  right: 100%;
  top: 0;
  transition: all 0.3s;
  width: 70%;
  z-index: 999999999999; }
  .menu ul {
    margin-top: 1em; }
    .menu ul li a {
      display: block;
      font-weight: bold;
      padding: 1em;
      text-decoration: none;
      text-transform: capitalize;
      transition: all 0.3s; }
    .menu ul li:hover:not(.is-active) a {
      background: rgba(0, 0, 0, 0.2); }

.menu-footer {
  left: 100%;
  position: absolute;
  top: 0;
  width: 60%; }
  .menu-footer ul {
    margin-top: 1em; }

.more-of-team {
  font-weight: 600; }
  .more-of-team:hover {
    color: inherit; }

.nearby-item {
  text-align: left; }
  .nearby-item ul {
    padding-left: 20px; }

.other-article {
  box-sizing: border-box;
  font-size: 0.75rem;
  margin-bottom: 1em; }
  .other-article h3,
  .other-article p {
    margin-top: 0;
    margin-bottom: 0.25em; }
  .other-article .other-article-img,
  .other-article .other-article-info {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top; }
  .other-article .other-article-img {
    margin: 0;
    width: 25%; }
    .other-article .other-article-img img {
      width: 100%; }
  .other-article .other-article-info {
    padding-left: 1em;
    text-align: left;
    width: 70%; }
  .other-article .other-article-link a {
    color: #de4b39; }
  .other-article .other-article-title a {
    color: #393939;
    text-decoration: none; }
    .other-article .other-article-title a:hover {
      text-decoration: underline; }

.owl-carousel figcaption {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  position: absolute;
  text-align: left;
  z-index: 2; }
.owl-carousel figure {
  background-color: black;
  margin: 0;
  position: relative;
  width: 100%; }
.owl-carousel img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.owl-next,
.owl-prev {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  line-height: 1rem;
  padding: 0.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 1; }

.owl-next {
  right: 0; }

.owl-prev {
  left: 0; }

.place {
  text-align: left; }
  .place .place-address {
    color: #33A7B0;
    font-weight: bold; }
  .place .place-location {
    margin-bottom: 1em; }
    .place .place-location span {
      display: block; }
  .place .place-map {
    margin: 0.5em auto; }
    .place .place-map iframe {
      width: 100%; }
    .place .place-map .place-address,
    .place .place-map .place-city {
      color: #393939;
      display: block;
      font-size: smaller;
      font-weight: bold; }
  .place .place-name {
    margin-bottom: 0;
    text-align: left; }
  .place .place-picture {
    margin: 0.5em auto; }
    .place .place-picture img {
      width: 100%; }
  .place .place-text a {
    color: #33A7B0;
    transition: color 0.3s; }
    .place .place-text a:hover {
      color: #de4b39; }

.prev-ed,
.prev-ed-ftimg {
  display: none; }

.prev-ed img {
  width: 100%; }

.program-item,
.program-item-break {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 1em 0; }
  .program-item p,
  .program-item-break p {
    margin-top: 0; }
  .program-item .program-item-icon,
  .program-item .program-item-info,
  .program-item-break .program-item-icon,
  .program-item-break .program-item-info {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    vertical-align: top; }
  .program-item .program-item-icon,
  .program-item-break .program-item-icon {
    color: #33A7B0;
    font-size: 2rem;
    width: 15%; }
  .program-item .program-item-info,
  .program-item-break .program-item-info {
    width: 80%; }
  .program-item .program-item-name,
  .program-item-break .program-item-name {
    text-align: left; }
  .program-item .program-item-time,
  .program-item-break .program-item-time {
    margin: 0; }

.program-item-break {
  font-size: large;
  text-transform: uppercase; }
  .program-item-break p {
    margin: 0; }

.program-item-time {
  color: #de4b39;
  display: block;
  font-weight: bold;
  margin: 1em auto; }

.innerpage-article .innerpage-ft-img {
  margin: 1em auto; }
  .innerpage-article .innerpage-ft-img img {
    width: 100%; }
.innerpage-article .innerpage-date {
  color: #33A7B0;
  font-size: 1.2rem;
  margin-top: 0; }
.innerpage-article .innerpage-post {
  font-size: 1rem; }
  .innerpage-article .innerpage-post a {
    color: #33A7B0;
    transition: all 0.3s; }
    .innerpage-article .innerpage-post a:hover {
      color: #de4b39; }
  .innerpage-article .innerpage-post h1,
  .innerpage-article .innerpage-post h2,
  .innerpage-article .innerpage-post h3,
  .innerpage-article .innerpage-post h4,
  .innerpage-article .innerpage-post h5,
  .innerpage-article .innerpage-post h6 {
    color: #de4b39;
    display: inline-block;
    margin-top: 0;
    text-align: left;
    vertical-align: middle; }
  .innerpage-article .innerpage-post img {
    margin: 0.25em;
    vertical-align: middle;
    width: 30%; }
  .innerpage-article .innerpage-post p {
    text-align: left; }
  .innerpage-article .innerpage-post ul {
    padding-left: 20px;
    text-align: left; }

.memoirs-title,
.so-it-was-title {
  color: #33A7B0;
  font-size: 2.2rem; }

.memoirs-video-desc,
.so-it-was-video-desc {
  color: #33A7B0;
  font-weight: bold;
  text-align: left; }
  .memoirs-video-desc h3,
  .so-it-was-video-desc h3 {
    margin-top: 0.5em; }

.social-network {
  display: inline-block;
  margin: 1em;
  text-decoration: none; }
  .social-network i {
    font-size: 30px; }

.speaker {
  display: inline-block;
  font-size: 1.4rem;
  margin: 1em 40px; }

.speaker-books {
  font-size: 0.8rem; }

.speaker-pic {
  height: 180px;
  position: relative;
  margin: 0 auto;
  width: 180px; }
  .speaker-pic > a {
    background: white;
    background: -moz-radial-gradient(center, ellipse cover, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(ellipse at center, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    display: block;
    height: 45px;
    position: absolute;
    text-decoration: none;
    width: 45px; }
    .speaker-pic > a i {
      font-size: 45px;
      transition: color 0.3s; }
    .speaker-pic > a.linkedin {
      bottom: -5px;
      right: 0; }
      .speaker-pic > a.linkedin i {
        color: #007BB5; }
    .speaker-pic > a.twitter {
      right: -25px;
      top: 50%; }
      .speaker-pic > a.twitter i {
        color: #5FA9DD; }
    .speaker-pic > a:hover i {
      color: #393939;
      text-decoration: none; }
  .speaker-pic figure {
    border: 10px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    margin: 0;
    text-align: center;
    width: 100%; }
    .speaker-pic figure img {
      height: 100%; }

.speaker-name,
.speaker-position,
.speaker-company {
  margin: 0;
  text-align: center; }

.speaker-bio {
  font-size: 1rem; }

.speaker-link {
  margin: 1em auto; }
  .speaker-link h4 {
    font-size: 1rem;
    margin: 0; }
    .speaker-link h4 a {
      color: inherit; }
  .speaker-link [class*="-label"] {
    color: #33A7B0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase; }
    .speaker-link [class*="-label"] .icon,
    .speaker-link [class*="-label"] .label {
      margin: 0 0.2em;
      vertical-align: middle; }
    .speaker-link [class*="-label"] .icon {
      font-size: x-large; }

.speaker-name {
  font-weight: bold;
  margin-top: 0.5em;
  text-transform: capitalize; }
  .speaker-name a {
    text-decoration: none; }
    .speaker-name a:hover {
      color: inherit;
      text-decoration: underline; }

.speaker-position,
.speaker-company {
  font-size: smaller; }

.speaker-position-company {
  color: #33A7B0;
  font-size: 0.8rem;
  margin: 0 0 0.5em 0; }

.speakers-page .speaker {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: 1em; }
.speakers-page .speaker-company:before {
  content: "/";
  padding-right: 0.25em; }
.speakers-page .speaker-name a {
  color: #393939; }
.speakers-page:last-of-type {
  border-bottom: none;
  margin-bottom: 0; }

.speech {
  display: block;
  margin-bottom: 1em; }
  .speech .speech-date,
  .speech .speech-info {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top; }
  .speech .speech-date {
    background: url("../img/calendar_conf.svg") no-repeat;
    background-size: auto 50px;
    font-size: 0.7rem;
    font-weight: 600;
    height: 50px;
    width: 50px; }
    .speech .speech-date .speech-day {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.2em; }
    .speech .speech-date .speech-month {
      color: white;
      margin-top: 0.7em;
      text-transform: uppercase; }
  .speech .speech-info {
    font-size: 0.8rem;
    margin-left: 0.5em;
    text-align: left;
    width: calc(100% - 50px - 50px); }
    .speech .speech-info .speech-link,
    .speech .speech-info .speech-speaker,
    .speech .speech-info .speech-title {
      margin: 0.3em 0 0 0; }
    .speech .speech-info .speech-link a {
      color: #de4b39;
      font-weight: bold;
      transition: color 0.3s; }
      .speech .speech-info .speech-link a:hover {
        color: #33A7B0; }
    .speech .speech-info .speech-title a {
      color: inherit;
      text-decoration: none; }
      .speech .speech-info .speech-title a:hover {
        text-decoration: underline; }

.sponsor {
  box-sizing: border-box;
  display: inline-block;
  margin: 0.5em;
  vertical-align: middle;
  width: 45%; }
  .sponsor figure {
    margin: 0; }
    .sponsor figure img {
      width: 100%; }

.sponsor-form {
  padding: 2em 1em; }
  .sponsor-form a {
    color: #393939;
    font-weight: bold; }
  .sponsor-form input,
  .sponsor-form label,
  .sponsor-form textarea {
    vertical-align: middle; }
  .sponsor-form input:not([type="checkbox"]),
  .sponsor-form textarea {
    display: block;
    width: 100%; }
  .sponsor-form p {
    text-align: left;
    width: 100% !important; }
    .sponsor-form p:last-of-type {
      direction: rtl; }
      .sponsor-form p:last-of-type * {
        direction: ltr; }
      .sponsor-form p:last-of-type label {
        font-size: smaller; }
        .sponsor-form p:last-of-type label:after {
          content: ""; }

.sub {
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  margin: 0.5em;
  text-transform: uppercase; }

.sub-content img {
  width: 80%; }

.team a {
  pointer-events: none; }

.video a {
  padding-top: 56.25%; }
  .video a:before {
    background: #33A7B0;
    bottom: 0.75em;
    border-radius: 3px;
    content: "";
    color: white;
    cursor: pointer;
    font-family: icomoon;
    left: 0.5em;
    padding: 0.25em 0.75em;
    position: absolute;
    z-index: 1; }

.video a {
  color: #fff;
  display: block; }

.streaming {
  margin: 0 auto; }

.workshop {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 1rem;
  margin-bottom: 1em;
  overflow: hidden;
  padding-bottom: 1em; }
  .workshop .speaker-profile {
    color: #de4b39;
    font-weight: bold;
    text-decoration: underline; }
  .workshop:last-of-type {
    border-bottom: none;
    margin-bottom: 0; }

.workshop-icon {
  color: #33A7B0;
  font-size: 2.5rem;
  margin: 0.5em; }

.workshop-item {
  display: block;
  color: #33A7B0;
  margin-bottom: 1em; }
  .workshop-item .workshop-item-author,
  .workshop-item .workshop-item-description {
    color: #393939;
    display: none; }
  .workshop-item .workshop-item-author,
  .workshop-item .workshop-item-link,
  .workshop-item .workshop-item-title {
    font-weight: bold; }
  .workshop-item .workshop-item-icon,
  .workshop-item .workshop-item-info {
    display: inline-block;
    vertical-align: top; }
  .workshop-item .workshop-item-icon {
    font-size: 2rem;
    width: 10%; }
  .workshop-item .workshop-item-info {
    text-align: left;
    width: 88%; }
  .workshop-item .workshop-item-room {
    color: #393939;
    margin-top: -0.5em; }
  .workshop-item .workshop-item-title {
    margin-top: 0;
    margin-bottom: 1em; }

.workshop-learn-list {
  margin-bottom: 2em;
  padding-left: 40px;
  text-align: left; }
  .workshop-learn-list .workshop-learn-skill {
    list-style-type: disc; }

.workshop-title {
  color: #33A7B0;
  margin-bottom: 0; }

.wud-logo {
  margin: 0.75em auto;
  width: 80%; }
  .wud-logo img {
    width: 100%; }

#contact-link {
  display: none; }

@media screen and (min-width: 768px) {
  .actions,
  .follow-us,
  .organizer {
    display: inline-block;
    margin: 1em;
    vertical-align: top; }

  .blog-item {
    display: block; }

  .contact label {
    display: initial; }
    .contact label input[type="email"] {
      width: 240px; }

  .date {
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    padding: 1em 0;
    width: 95%; }
    .date .day {
      background: url("../img/calendar_nav.svg") no-repeat;
      background-size: auto 50px;
      box-sizing: border-box;
      display: inline-block;
      font-weight: bold;
      height: 50px;
      padding: 1em;
      vertical-align: middle;
      width: 50px; }

  .event-info,
  .event-practical-info {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top; }
    .event-info center,
    .event-practical-info center {
      text-align: left; }

  .event-info {
    padding-right: 0.5em;
    width: 60%; }

  .event-practical-info {
    padding-left: 0.5em;
    width: 35%; }

  .event-scopes {
    margin: 1em auto; }
    .event-scopes .event-scope {
      width: 20%; }

  .form-info,
  .sponsor-form {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 49%; }

  .form-info {
    padding: 2em 1em;
    text-align: left; }

  .form-info-img {
    margin: 2em 0 0 0;
    position: relative; }
    .form-info-img img {
      width: 100%; }
    .form-info-img:after {
      bottom: 0.25em;
      color: white;
      content: "WUDco 2014";
      font-size: 6.5em;
      font-weight: bold;
      position: absolute;
      left: 0;
      line-height: 0.75em;
      right: 0;
      text-align: center; }

  .form-info-text p {
    margin: 1em 0 0 0 !important; }

  .header,
  .wud-logo {
    display: inline-block;
    vertical-align: middle; }

  .header {
    border: none;
    text-align: left;
    width: auto; }

  .innerpage-article {
    padding: 0 2em;
    text-align: left; }
    .innerpage-article h2 {
      font-size: xx-large;
      margin-bottom: 0.25em;
      text-align: left; }
    .innerpage-article .innerpage-date {
      margin-bottom: 3em; }
    .innerpage-article .innerpage-post img {
      width: 20%; }
    .innerpage-article .innerpage-post img ~ h2,
    .innerpage-article .innerpage-post img ~ h3,
    .innerpage-article .innerpage-post img ~ h4,
    .innerpage-article .innerpage-post img ~ h5,
    .innerpage-article .innerpage-post img ~ h6 {
      margin: 0;
      width: 30%; }

  .label i {
    font-size: 2rem; }
  .label span {
    font-size: x-large; }

  .last-edition {
    margin: 1em 0 2em 0; }
    .last-edition .last-edition-desc,
    .last-edition .last-edition-img,
    .last-edition .last-edition-video {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      width: 49%; }
    .last-edition .last-edition-desc {
      padding-left: 0.5em; }
      .last-edition .last-edition-desc h2 {
        margin-top: 0; }
    .last-edition .last-edition-img,
    .last-edition .last-edition-video {
      padding-right: 0.5em; }

  .menu {
    display: inline-block;
    overflow: visible;
    position: initial;
    vertical-align: middle;
    width: auto; }
    .menu ul {
      margin: 0; }
      .menu ul li {
        display: inline-block;
        vertical-align: middle; }
        .menu ul li a {
          padding: 1em 0.5em; }

  .menu-footer {
    display: inline-block;
    position: initial;
    width: auto; }

  .nearby-item {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 1em;
    vertical-align: top;
    width: 32%; }
    .nearby-item h3 {
      margin-top: 0; }
    .nearby-item:nth-child(2) {
      border-width: 0 1px;
      border-style: solid; }

  .other-article {
    display: inline-block;
    width: 49%; }

  .place .place-map,
  .place .place-picture {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top; }
  .place .place-map {
    height: 22.61905vw;
    max-height: 208px;
    max-width: 350px;
    width: 38vw; }
    .place .place-map iframe {
      height: 100%; }
  .place .place-picture {
    padding-right: 1em;
    width: 55vw; }

  .prev-ed {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 1em;
    width: 32%; }
    .prev-ed .prev-ed-desc {
      display: none; }

  .prev-ed-ftimg {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 1em;
    width: 32%; }
    .prev-ed-ftimg figure {
      margin: 0; }
      .prev-ed-ftimg figure img {
        width: 100%; }
    .prev-ed-ftimg h2 {
      color: #33A7B0;
      margin-bottom: 0.5em; }

  .program-item .program-item-icon {
    font-size: 5rem; }

  .memoirs-text,
  .so-it-was-text {
    margin: 0 auto;
    max-width: 600px; }

  .memoirs-video,
  .so-it-was-video {
    display: inline-block;
    margin: 1em;
    width: 28%; }

  .speakers-page .speaker .speaker-info,
  .speakers-page .speaker .speaker-pic {
    display: inline-block;
    vertical-align: top; }
  .speakers-page .speaker .speaker-info {
    margin-left: 2em;
    position: relative;
    text-align: left;
    width: 55%; }
  .speakers-page .speaker .speaker-books {
    left: -240px;
    position: absolute;
    text-align: center;
    top: 190px;
    width: 210px; }
  .speakers-page .speaker .speaker-name {
    font-size: xx-large; }
  .speakers-page .speaker .speaker-position-company {
    font-size: larger; }

  .speech {
    display: inline-block;
    margin: 0.5em;
    width: 260px; }
    .speech .speech-info {
      width: calc(100% - 50px - 20px); }

  .sponsor {
    margin: 1em 2em;
    width: 180px; }

  .sub-content img {
    width: 150px; }

  .streaming {
    width: 90%; }

  .workshop .speaker-name {
    text-align: left; }
  .workshop .speaker-pic {
    display: inline-block;
    vertical-align: top; }

  .workshop-icon {
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0.25em; }

  .workshop-info {
    display: inline-block;
    margin-left: 2em;
    position: relative;
    text-align: left;
    width: 55%;
    vertical-align: top; }
    .workshop-info .speaker-profile {
      left: -230px;
      position: absolute;
      text-align: center;
      top: 190px;
      width: 210px; }

  .workshop-item {
    display: inline-block;
    margin-bottom: 3em;
    width: 49%; }
    .workshop-item .workshop-item-author,
    .workshop-item .workshop-item-description {
      display: block;
      margin-bottom: 1em; }
    .workshop-item .workshop-item-icon {
      font-size: 2.5rem;
      width: 18%; }
    .workshop-item .workshop-item-info {
      width: 80%; }
    .workshop-item .workshop-item-title {
      margin-bottom: 0.25em; }

  .workshop-learn-list {
    padding-left: 20px; }

  /*.workshop-signup
   * .button
   * 	font-size: larger */
  .workshop-title {
    text-align: left;
    width: 90%; }

  .wud-logo {
    margin: 1em 4em 1em 0;
    width: 45%; }

  #contact-link {
    display: initial; } }
@media screen and (min-width: 960px) {
  .actions ul {
    padding: 0; }
    .actions ul li {
      margin: 0 0.5em; }

  .actions,
  .follow-us,
  .menu-footer,
  .organizer {
    vertical-align: middle; }

  .contact,
  .counter {
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle; }

  .counter {
    font-size: 1.75rem; }
    .counter .number {
      font-size: xx-large; }

  .date {
    border: none;
    display: inline-block;
    margin: 1em 2em;
    width: auto; }

  .event-scopes .event-scope {
    width: 15%; }
    .event-scopes .event-scope i {
      font-size: 4.25rem; }
    .event-scopes .event-scope span {
      font-size: initial; }

  .innerpage-article {
    padding: 0 16em; }
    .innerpage-article .innerpage-post img ~ h2,
    .innerpage-article .innerpage-post img ~ h3,
    .innerpage-article .innerpage-post img ~ h4,
    .innerpage-article .innerpage-post img ~ h5,
    .innerpage-article .innerpage-post img ~ h6 {
      margin-left: 1em; }

  .menu ul li a {
    padding: 1em 1.5em; }

  .menu-footer ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance; }

  .other-article {
    width: 30%; }

  .prev-ed {
    text-align: left; }
    .prev-ed .prev-ed-desc {
      display: block; }
      .prev-ed .prev-ed-desc h3 {
        color: #33A7B0;
        font-size: x-large; }

  .memoirs-video,
  .so-it-was-video {
    margin: 1em 0;
    width: calc(33% - 0.6666em); }
    .memoirs-video:nth-child(3n),
    .so-it-was-video:nth-child(3n) {
      margin-left: 0;
      margin-right: 1em; }
    .memoirs-video:nth-child(3n + 2),
    .so-it-was-video:nth-child(3n + 2) {
      margin-left: 1em;
      margin-right: 0; }

  .speakers-page .speaker .speaker-link {
    box-sizing: border-box;
    display: inline-block;
    width: 49%; }
    .speakers-page .speaker .speaker-link:last-of-type {
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      padding-left: 1em; }

  .speech {
    width: 280px; }
    .speech .speech-info {
      width: calc(100% - 50px - 15px); }

  .sub,
  .sub-content {
    display: inline-block;
    vertical-align: middle; }

  .sub {
    border-right: 1px solid;
    padding: 0.5em 1em; }

  .streaming {
    width: 50%; }

  .workshop-item {
    width: 32%; }

  .wud-logo {
    margin: 1em 8em 1em 0;
    width: 30%; } }
nav.is-fixed {
  left: 0;
  margin-top: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999; }

.menu.is-visible {
  overflow: visible;
  right: 30%; }
.menu li.is-active {
  background: #de4b39;
  position: relative; }
  .menu li.is-active:before {
    border-color: transparent transparent transparent #de4b39;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    content: "";
    left: 100%;
    top: calc(50% - 10px);
    position: absolute;
    transition: all 0.3s;
    z-index: 1; }

@media screen and (min-width: 768px) {
  .menu li.is-active {
    background: #de4b39;
    position: relative; }
    .menu li.is-active:before {
      border-color: #de4b39 transparent transparent transparent;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      content: "";
      top: 100%;
      left: calc(50% - 10px);
      position: absolute;
      transition: all 0.3s;
      z-index: 1; } }

/*# sourceMappingURL=main.css.map */
