@charset "UTF-8";
@import url(normalize.css);
@import url(fontface.css);
@import url(icomoon.css);
a {
  color: white;
  transition: color 0.3s; }
  a:hover {
    color: #33A7B0; }

body {
  background: white;
  color: #393939;
  font-family: Raleway;
  font-size: 10px; }

button,
input[type="submit"],
.button {
  box-sizing: border-box;
  background: #de4b39;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  height: 35px;
  letter-spacing: 0.2em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.3s; }
  button:hover,
  input[type="submit"]:hover,
  .button:hover {
    background: #2c8284;
    color: inherit; }

h2 {
  display: inline-block;
  text-align: center; }
  h2.sawtooth {
    border-image-width: 0.3em !important;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 0.4em 0.2em;
    text-transform: uppercase;
    width: auto; }
    h2.sawtooth.blue {
      border-image: url("../img/zigzag-blue.svg") 0 0 10 0 round round;
      color: #33A7B0; }
    h2.sawtooth.white {
      border-image: url("../img/zigzag-white.svg") 0 0 10 0 round round;
      color: white; }

input {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 0.5em;
  height: 35px; }

span.color {
  color: #33A7B0; }

ul {
  padding: 0; }

footer {
  background: #393939;
  color: white;
  padding: 2em 1em;
  text-align: center; }

header {
  text-align: center; }

section {
  background: white;
  padding: 2em 1em;
  text-align: center; }
  section h2 {
    font-size: 1.2rem;
    margin-top: 0; }
  section ul {
    margin: 0 auto;
    max-width: 1000px; }
  section.countdown {
    background: #393939;
    color: white; }
  section.headline, section.wannabesponsor {
    position: relative; }
    section.headline:after, section.wannabesponsor:after {
      background-size: 10px 12px, 10px 10px !important;
      bottom: -20px;
      content: "";
      display: block;
      height: 30px;
      left: 0;
      position: absolute;
      width: 100%; }
  section.headline {
    background: url("../img/home.svg") no-repeat;
    background-position: center calc(100% + 20px);
    background-size: contain;
    padding-bottom: 25%; }
    section.headline h1,
    section.headline p {
      margin: 0 auto;
      text-align: center; }
    section.headline h1 {
      font-size: 1.8rem;
      margin-bottom: 0.5em; }
      section.headline h1 span {
        display: block; }
    section.headline p {
      display: none;
      font-size: 1rem;
      width: 60%; }
    section.headline:after {
      background: linear-gradient(-45deg, transparent 75%, white 75%) 0 50%, linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
      background: -webkit-linear-gradient(135deg, transparent 75%, white 75%) 0 50%, -webkit-linear-gradient(45deg, transparent 75%, white 75%) 0 50%;
      background-repeat: repeat-x; }
  section.speakers, section.wannabesponsor {
    background: #33A7B0;
    color: white; }
  section.wannabesponsor {
    padding: 5em 1em; }
    section.wannabesponsor p {
      font-size: 0.8rem;
      margin: 0 auto 2em auto;
      max-width: 800px;
      width: 90%; }
    section.wannabesponsor:after {
      background: linear-gradient(-45deg, transparent 75%, #33A7B0 75%) 0 50%, linear-gradient(45deg, transparent 75%, #33A7B0 75%) 0 50%;
      background: -webkit-linear-gradient(135deg, transparent 75%, #33A7B0 75%) 0 50%, -webkit-linear-gradient(45deg, transparent 75%, #33A7B0 75%) 0 50%;
      background-repeat: repeat-x; }

.container {
  margin: 0 auto;
  max-width: 1280px; }

@media screen and (min-width: 560px) {
  section h2 {
    font-size: 1.4rem; }
  section.headline {
    background-position: center calc(100% + 40px); }
    section.headline h1 {
      font-size: 2rem; }
      section.headline h1 span {
        display: initial; }
    section.headline p {
      display: block;
      font-size: 1.2rem; }
  section.wannabesponsor p {
    font-size: 1rem; } }
@media screen and (min-width: 1080px) {
  section h2 {
    font-size: 1.6rem; }
  section.headline {
    background-size: auto 55%;
    padding-bottom: 20%; }
    section.headline h1 {
      font-size: 2.2rem;
      width: 55%; }
    section.headline p {
      font-size: 1.4rem;
      width: 45%; } }
.actions,
.follow-us,
.organizer {
  margin-bottom: 1em; }

.actions {
  font-size: 0.8rem; }
  .actions ul {
    list-style: none; }
    .actions ul li {
      margin-bottom: 1em; }
      .actions ul li:before {
        content: "•";
        font-size: 1.75rem;
        padding-right: 7px;
        transition: color 0.3s;
        vertical-align: middle; }
      .actions ul li:hover a, .actions ul li:hover:before {
        color: #33A7B0; }

.contact,
.counter {
  font-size: 1rem;
  margin: 0 auto;
  text-align: center; }

.contact button,
.contact input,
.contact label {
  vertical-align: middle; }
.contact input[type="email"] {
  width: 235px; }
.contact label {
  display: block;
  margin-bottom: 0.5em; }

.counter .number {
  background: #33A7B0;
  border-radius: 50%;
  display: inline-block;
  font-size: x-large;
  padding: 0.35em; }

.date,
.header {
  font-size: 1rem;
  margin: 0 auto;
  text-align: center; }
  .date p,
  .header p {
    margin: 0; }

.header {
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  padding: 1em 0;
  width: 90%; }

.social-network {
  display: inline-block;
  margin: 1em; }
  .social-network.facebook, .social-network.twitter, .social-network.youtube {
    background: transparent no-repeat center;
    background-size: cover;
    height: 30px;
    width: 30px; }
  .social-network.facebook {
    background-image: url("../img/facebook_blanco.svg"); }
    .social-network.facebook:hover {
      background-image: url("../img/facebook_azul.svg"); }
  .social-network.twitter {
    background-image: url("../img/twitter_blanco.svg"); }
    .social-network.twitter:hover {
      background-image: url("../img/twitter_azul.svg"); }
  .social-network.youtube {
    background-image: url("../img/youtube_blanco.svg");
    width: 66px; }
    .social-network.youtube:hover {
      background-image: url("../img/youtube_azul.svg"); }

.speaker {
  display: inline-block;
  font-size: 1.4rem;
  margin: 1em 40px; }
  .speaker .speaker-pic {
    height: 180px;
    position: relative;
    margin: 0 auto;
    width: 180px; }
    .speaker .speaker-pic > a {
      background: white;
      background: -moz-radial-gradient(center, ellipse cover, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
      background: -o-radial-gradient(center, ellipse cover, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
      background: -ms-radial-gradient(center, ellipse cover, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
      background: radial-gradient(ellipse at center, white 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
      display: block;
      height: 45px;
      position: absolute;
      text-decoration: none;
      width: 45px; }
      .speaker .speaker-pic > a i {
        font-size: 45px;
        transition: color 0.3s; }
      .speaker .speaker-pic > a.linkedin {
        bottom: -5px;
        right: 0;
        /*&:hover
         * background-image: url("../img/linkedin_profile_hover.svg") */ }
        .speaker .speaker-pic > a.linkedin i {
          color: #007BB5; }
      .speaker .speaker-pic > a.twitter {
        right: -25px;
        top: 50%;
        /*&:hover
         * background-image: url("../img/twitter_profile_hover.svg") */ }
        .speaker .speaker-pic > a.twitter i {
          color: #5FA9DD; }
      .speaker .speaker-pic > a:hover i {
        color: #393939;
        text-decoration: none; }
    .speaker .speaker-pic figure {
      border: 10px solid white;
      border-radius: 50%;
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      margin: 0;
      text-align: center;
      width: 100%; }
      .speaker .speaker-pic figure img {
        height: 100%; }
  .speaker .speaker-name,
  .speaker .speaker-position,
  .speaker .speaker-company {
    margin: 0;
    text-align: center; }
  .speaker .speaker-name {
    font-weight: bold;
    margin-top: 0.5em;
    text-transform: capitalize; }
    .speaker .speaker-name a {
      text-decoration: none; }
      .speaker .speaker-name a:hover {
        color: inherit;
        text-decoration: underline; }
  .speaker .speaker-position,
  .speaker .speaker-company {
    font-size: smaller; }

.speech {
  margin-bottom: 1em; }
  .speech .speech-date,
  .speech .speech-info {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top; }
  .speech .speech-date {
    background: url("../img/calendar_conf.svg") no-repeat;
    background-size: auto 50px;
    font-size: 0.7rem;
    font-weight: 600;
    height: 50px;
    width: 50px; }
    .speech .speech-date .speech-day {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.2em; }
    .speech .speech-date .speech-month {
      color: white;
      margin-top: 0.7em;
      text-transform: uppercase; }
  .speech .speech-info {
    font-size: 0.8rem;
    margin-left: 0.5em;
    text-align: left;
    width: calc(100% - 50px - 50px); }
    .speech .speech-info .speech-link,
    .speech .speech-info .speech-speaker,
    .speech .speech-info .speech-title {
      margin: 0.3em 0 0 0; }
    .speech .speech-info .speech-link a {
      color: #de4b39;
      font-weight: bold;
      transition: color 0.3s; }
      .speech .speech-info .speech-link a:hover {
        color: #33A7B0; }
    .speech .speech-info .speech-title a {
      color: inherit;
      text-decoration: none; }
      .speech .speech-info .speech-title a:hover {
        text-decoration: underline; }

.sponsor {
  box-sizing: border-box;
  display: inline-block;
  margin: 0.5em;
  vertical-align: middle;
  width: 45%; }
  .sponsor figure {
    margin: 0; }
    .sponsor figure img {
      width: 100%; }

.sub {
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  margin: 0.5em;
  text-transform: uppercase; }

.sub-content img {
  width: 50%; }

.wud-logo {
  margin: 0.75em auto;
  width: 80%; }
  .wud-logo img {
    width: 100%; }

@media screen and (min-width: 560px) {
  .actions,
  .follow-us,
  .organizer {
    display: inline-block;
    margin: 1em;
    vertical-align: middle; }

  .contact label {
    display: initial; }
    .contact label input[type="email"] {
      width: 240px; }

  .date {
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    padding: 1em 0;
    width: 95%; }
    .date .day {
      background: url("../img/calendar_nav.svg") no-repeat;
      background-size: auto 50px;
      box-sizing: border-box;
      display: inline-block;
      font-weight: bold;
      height: 50px;
      padding: 1em;
      vertical-align: middle;
      width: 50px; }

  .header,
  .wud-logo {
    display: inline-block;
    vertical-align: middle; }

  .header {
    border: none;
    text-align: left;
    width: auto; }

  .speech {
    display: inline-block;
    margin: 0.5em;
    width: 260px; }
    .speech .speech-info {
      width: calc(100% - 50px - 20px); }

  .sponsor {
    margin: 1em 2em;
    width: 180px; }

  .sub,
  .sub-content {
    display: inline-block;
    vertical-align: middle; }

  .sub {
    border-right: 1px solid;
    padding: 0.5em 1em; }

  .sub-content img {
    width: 150px; }

  .wud-logo {
    margin: 1em 4em 1em 0;
    width: 45%; } }
@media screen and (min-width: 1080px) {
  .actions ul {
    padding: 0; }
    .actions ul li {
      display: inline-block;
      margin: 0 0.5em; }

  .contact,
  .counter {
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle; }

  .counter {
    font-size: 1.75rem; }
    .counter .number {
      font-size: xx-large; }

  .date {
    border: none;
    display: inline-block;
    margin: 1em 2em;
    width: auto; }

  .speech {
    margin: 1em 2.5em;
    width: 280px; }
    .speech .speech-info {
      width: calc(100% - 50px - 10px); }

  .wud-logo {
    margin: 1em 8em 1em 0;
    width: 30%; } }

/*# sourceMappingURL=main.css.map */
